li:hover {
  transition: all 0.4s ease-in;
  /* border-color: rgb(36, 36, 36); */
  color: rgb(214, 212, 212);
  cursor: pointer;
}

h2,
h3,
h4,
h5,
h6,
p {
  text-align: left;
}

span {
  justify-content: left;
}
